<!-- VIEW CONFIRMATION
=============================================== -->
<p-dialog [(visible)]="state" closeOnEscape="true" closable="true" [modal]="true" [showHeader]="false" [contentStyle]="{
    'border-radius': '20px','margin':'20px'}" styleClass="p-fluid dialog-responsive custom-header">

  <ng-template pTemplate="content">
    <div class="card shadow-3 mt-4 text-center">
      <h3 class="prefijoRow">Confirmar Cita Médica</h3>
      <hr>
      <div class="grid p-3">
        <div class="col-12 md:col-4">
          <div class="text-center">
            <i class="pi pi-check-circle" style="font-size: 50px; color: #008080;"></i>
          </div>
        </div>
        <div class="col-12 md:col-8 text-center md:text-left">
          <h6>
            <span class="prefijoRow">Paciente: </span>{{beneficiario?.paciente}} <br>
            <span class="prefijoRow">Fecha de Atención: </span>{{fecha |date:'dd/MM/yyyy' }} <br>
            <span class="prefijoRow">Hora de Atención: </span>{{hora.inicioDetalle}} a {{hora.finDetalle}} <br>
            <span class="prefijoRow">Médico: </span>{{medico.nombres}} <br>
            <span class="prefijoRow">Servicio: </span>{{consultorio.descripcion}}
          </h6>
        </div>
      </div>
      <hr>
      <div class="flex justify-content-center gap-2">
        <p-button pRipple label="Aceptar" icon="pi pi-check" [text]="true" [raised]="true" severity="primary"
          (click)="aceptar()" />
        <p-button pRipple label="Cancelar" icon="pi pi-times" [text]="true" [raised]="true" severity="warning"
          (click)="cancel()" />
      </div>
    </div>
  </ng-template>

</p-dialog>