.orange {
  background-color: #ffd8b2;
  color: #805b36;
}

.red {
  background-color: #ffcdd2;
  color: #c63737;
}

.green {
  background-color: #c8e6c9;
  color: #256029;
}

.customer-badge {
  border-radius: 2px;
  padding: 0.25em 0.5rem;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 0.3px;
  display: inline;
}
