// app.css
.card-title {
  font-weight: bold;
  font-size: 2rem;
}

.card-sub-title {
  font-weight: bold;
  font-size: 1.5rem;
}

.lbl-icon {
  font-size: 1.5rem;
  color: var(--color-icon-field) !important;
  padding-right: 5px;
}

.lbl-field {
  font-size: 1.1rem;
  position: relative;
  top: -3px;
  font-weight: normal;
  color: var(--color-field) !important;
}

.lbl-value {
  font-size: 1.2rem;
  font-weight: bold;
  padding-left: 10px;
  font-weight: bold;
  color: var(--color-value) !important;
}

.content-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-right {
  display: flex;
  justify-content: right;
  align-items: center;
}

.feature-title {
  font-size: 16px;
  padding-top: 5px;
  padding-bottom: 3px;
  display: block;
  font-weight: 600;
}

p,
span {
  font-family: var(--font-family);
}

.label-form {
  font-weight: normal;
  pointer-events: none;
  margin-top: -0.5em;
  transition: 0.3s ease all;
  -moz-transition: 0.3s ease all;
  -webkit-transition: 0.3s ease all;
  color: #898989;
  line-height: 1.3;
}

.label-value {
  font-weight: bold;
  pointer-events: none;
  margin-top: -0.5em;
  transition: 0.3s ease all;
  -moz-transition: 0.3s ease all;
  -webkit-transition: 0.3s ease all;
  color: var(--color-value) !important;
  line-height: 1.3;
  padding-left: 10px;
}

.inputFilter {
  text-align: inherit;
}

.cnsValidator {
  border-color: red !important;

  .p-dropdown,
  .p-inputtext {
    border-color: red;
  }

  .p-autocomplete-input {
    border-color: red;
  }
}

.p-inputtext,
.p-dropdown {
  width: 100%;

  .p-dropdown-label-container {
    width: 100%;
  }
}

.lblFilter {
  text-align: right;
  margin-top: 4px;
  font-weight: 900;
}

button.w-70 {
  width: 70% !important;
}

button.w-50 {
  width: 50% !important;
}

div.p-dialog-header {
  background-color: var(--color-background-header) !important;
}

div.p-dialog-header span {
  color: var(--color-text-header);
}

@media (min-width: 992px) {
  .myb {
    display: none !important;
  }
}

.swal2-container {
  z-index: 1102 !important;
}
// asegurado.css
$default-radius: 0.25rem;

.img {
  height: 242px;
  width: 242px;
}

.img IMG {
  border: 1px solid #afafaf;
  height: 100%;
  width: auto;
  max-height: 100%;
  object-fit: contain;
  border-radius: $default-radius;
}

@media only screen and (min-width: 992px) and (max-width: 1100px) {
  .img {
    height: 212px !important;
    width: 212px !important;
  }
}

.orange {
  background-color: #ffd8b2;
  color: #805b36;
}

.red {
  background-color: #ffcdd2;
  color: #c63737;
}

.green {
  background-color: #c8e6c9;
  color: #256029;
}

.customer-badge {
  border-radius: 2px;
  padding: 0.25em 0.5rem;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 0.3px;
  display: inline;
}

.info {
  color: cornflowerblue;
  font-size: 1.3em;
  cursor: pointer;
}
.war {
  color: rgb(237, 187, 100);
  cursor: pointer;
  border-radius: 2em;
  border: 1px solid #edbb64;
  padding: 0.2em;
  font-size: 0.85em;
}

.personalizado {
  font-size: 5em;
  color: red;
}
