:root {
  --color-title: #409693;
  --color-borders: #afafaf;
  --color-divider: #cccc7f;
  --color-field: #00796b;
  --color-value: black;
  --color-icon-field: #00796b;

  --font-family: 'Lato', 'Helvetica Neue', sans-serif;

  --color-background-header: #024c45;
  --color-text-header: #cdd2db;
}
