.hora-btn {
    padding: 1.5rem;
    border: 1px solid #ccc;
    border-radius: 6px;
    cursor: pointer;
    user-select: none;
    transition: .2s;
    min-width: 80px;
    text-align: center;
    font-size: .9rem;
    background-color: #f8f9fa;

    &:hover {
        background-color: #e5e7eb;
    }
}

.hora-btn.selected {
    background-color: rgb(0, 121, 107);
    border-color: rgb(0, 121, 107);
    color: white;
}

.disponible {
    background: #d6ffe2;
    border: 1px solid #51c86b;
    color: #0f6b2b;
}

.reservado {
    background: #ffd6d6;
    border: 1px solid #e75656;
    color: #8a1e1e;
    cursor: not-allowed;
    opacity: .7;
}

@media screen and (max-width: 768px) {
    .hora-btn {
        width: 100%;
        min-width: 0;
    }
}